/* Auth pags  */
.main-wrapper .page-wrapper.full-page{
    background-color: #248874;
}

.sidebar .sidebar-body .nav {
    padding: 25px 15px 25px 15px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    height: 38px;
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-right: 15px;
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    margin-right: 21px;
}


.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    right: -15px;
}
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link{
    height: 2.4em;
}

.border-danger, .swal2-popup .swal2-actions button.swal2-cancel,
.btn, .wizard > .actions a, .wizard > .actions a:active, .wizard > .actions a:hover, div.tox .tox-button, .swal2-popup .swal2-actions button, .fc .fc-button-primary{
    border-color: snow !important;
}