.full-width-header .rs-header .topbar-area .topbar-right li{
    margin-right: 14px;
}
.features-wrap .icon-part i{
    font-size: 50px;
    margin:0 20px 8px 0
}


.owl-carousel .owl-item img{
    width: 100%;
}


/*  latest news  */

.rs-blog.style1 .blog-item .blog-content{
    padding: 14px 14px 14px;
}

.rs-blog.style1 .blog-item .blog-content .title a{
    font-size: 18px;
}

.rs-blog.style1 .blog-item .blog-content .readon-arrow{
    font-size: 14px;
}
.rs-blog.style1 .blog-item .image-part{
    padding-left: 14px;
}

.rs-blog.main-home .blog-item .blog-content .btn-btm .cat-list .post-categories:before{
    content: "\f007";
}

/* Statistics  */
.rs-counter .counter-item .rs-count{
    padding-right: 0;
    padding-left: 0;
}
.lg-mb-70{
    margin-bottom: 70px;
}