.full-width-header .rs-header .topbar-area .topbar-right li{
    margin-left: 14px;
}

.features-wrap .icon-part i{
    font-size: 50px;
    margin:0 0 8px 20px;
}

.owl-carousel .owl-item img{
    width: 100%;
}
